<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.4/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Netgen\OpenGraphBundle\Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">bundle</directory>
        </include>
        <exclude>
            <directory>bundle/Resources</directory>
        </exclude>
    </source>

    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
</phpunit>
